.projectForm_wrapper{
    width: 100%;
    margin: 2em 0;
    .btn{
        display: inline-block;
        background-color: #222;
        color:#fff;
        padding: 0.8rem 1rem;
        text-decoration: none;
        border: 1px solid #efefef;
        transition: 0.3s;
    }
    .btn:hover{
        background-color: #efefef;
        color: #222;
        border: 1px solid #222;
        transition: 0.3s;
        cursor:pointer;
    }
}